<form (ngSubmit)="register()">

  <ion-item>
    <ion-input
      type="text"
      placeholder="Nombre"
      [(ngModel)]="nombre"
      name="nombre"
      required>
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input
      type="text"
      placeholder="Apellido"
      [(ngModel)]="apellido"
      name="apellido"
      required>
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input
      type="number"
      placeholder="Edad"
      [(ngModel)]="edad"
      name="edad"
      required>
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input
      type="email"
      placeholder="correo@dominio.com"
      [(ngModel)]="correo"
      name="correo"
      required>
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
      required>
    </ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" class="ion-margin-top">
    Registrarse
  </ion-button>
</form>

<ion-toast
  [isOpen]="isToastOpen"
  [message]="toastMessage"
  [duration]="3000"
  (didDismiss)="isToastOpen = false">
</ion-toast>
